/* Styles globaux */
body {
    font-family: Arial, sans-serif;
}

/* Conteneur principal avec une largeur maximale et centré */
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 100px; /* Espace autour du contenu */
}

/* Logo Google avec une largeur de 200px */
.logo img {
    width: 200px;
    height: auto; /* Conserve les proportions de l'image */
}

/* Positionne les boutons "Gmail" et "Connexion"  en haut à droite */
.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Styles de base pour les boutons */
.button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Espace entre les boutons */
}
.Images-button {
    background-color: #777; /* Couleur gris pour Gmail */
    color: #fff; /* Couleur du texte */
}

/* Style du bouton "Gmail" (couleur grise) */
.gmail-button {
    background-color: #777; /* Couleur gris pour Gmail */
    color: #fff; /* Couleur du texte */
}

/* Style du bouton "Connexion" (couleur bleue) */
.connexion-button {
    background-color: #4285f4; /* Couleur bleue pour Connexion */
    color: #fff; /* Couleur du texte */
}

/* Styles pour la zone de recherche */
.search-box {
    margin-top: 20px;
    text-align: center; /* Centre le contenu */
}

/* Champ de recherche avec largeur de 100% et espace en dessous */
.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px; /* Espace sous le champ de recherche */
}

/* Conteneur pour les boutons de recherche */
.buttons {
    display: inline-block; /* Les boutons sont sur la même ligne */
}